@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Montserrat', cursive;
  }
  #logo{
    font-family: 'kaushan Script', cursive;
  }
}

.column-style{
  @apply  pt-[3.6rem] text-center align-top;
}